<div class="<%= block_width_class %>">
  <div class="panel <%= panel_type_class(parking) %>">
    <div class="panel_heading row place_number">
      <div class="col-md-6 col-xs-6 text-left">
       <%= parking.name %>
      </div>
      <div class="col-md-6 col-xs-6 text-right">
        <%if parking.schema.url %>
          <%= link_to 'Schema of parking', :controller => 'schema', :url => parking.schema.url %>
        <%end%>
      </div>
    </div>
    <div class="panel-body">
      <% parking.places.sort_by(&:number).each do |place| %>
        <div class="well <%= occupied?(place) %>">
          <%= form_for(place, remote: true) do |f| %>
            <div class="row">
              <div class='col-md-1'>
                <span class='place_number'><%= place.number %></span>
              </div>
              <div class='col-md-3'>
                <% if place.occupied %>
                  <span class='driver_data'><%=l place.updated_at, format: :short %></span>
                <%end%>
                <%= f.hidden_field :occupied, value: !place.occupied%>
              </div>
              <div class='col-md-8'>
              <% if place.occupied %>
                <%= f.submit button_title(place), class: 'btn btn-lg btn-block btn-primary', data: { confirm: "Освободить место ##{place.number}?" }%>
              <% else %>
                <%= f.submit button_title(place), class: 'btn btn-lg btn-block btn-primary' %>
              <% end %>
              </div>
            </div>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
</div>
