<div class="<%= block_width_class %>">
  <div class="panel <%= panel_type_class(parking) %>">
    <div class="panel-heading"><span class='place_number'><%= parking.name %></span></div>
    <div class="panel-body">
      <% parking.places.sort_by(&:number).each do |place| %>
        <div class="well <%= occupied?(place) %>">
          <%= form_for(place, remote: true) do |f| %>
            <div class="row">
              <div class='col-md-1'>
                <span class='place_number'><%= place.number %></span>
              </div>
              <div class='col-md-7'>
                <% if place.occupied %>
                  <span class='driver_data'><%=l place.updated_at, format: :short %></span>
                <%end%>
                <%= f.hidden_field :occupied, value: !place.occupied%>
              </div>
              <div class='col-md-4'>
                <%= f.submit button_title(place), class: 'btn btn-primary'%>
              </div>  
            </div>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
</div>
