<p id="notice"><%= notice %></p>

<p>
  <strong>Car number:</strong>
  <%= @driver.car_number %>
</p>

<p>
  <strong>Car:</strong>
  <%= @driver.car %>
</p>

<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
